/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/08/2021, 9:33:22 p. m.
    Author     : EMANUEL ORTIZ
*/

body{
    background: black;
    font-size:1.2em; 
    font-family: Garamond,serif ;
    overflow-x: hidden;
}

.btn-whatsapp {
    display:block;
    width:4em;
    height:4em;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

         


